[2014-05-26 20:14] ghost opened #1 "SFTP ST Syntaxis"
For a painless transition , could it be posible to make usable the sftp-config.json from http://wbond.net/sublime_packages/sftp syntaxis???

Can that be possible??

thanks

[2014-05-27 12:03] georgemastro opened #2 "Prevent Overwriting"
I've been a Sublime User for the past three years and the only thing that bugs me is that when I upload a file from a project that is not version controlled and has been modified by a teammate, sftp doesn't warn me that there is a newer version of the same file uploaded before mine.

The weird thing is that this functionality has been implemented in Dreamweaver since forever!

Is there a chance th

[2014-05-27 17:29] dcunited08 opened #3 "Enhancement: Browse remote server"
In ST3's SFTP plugin, you can browse the server using a SelectListView-like UX.  Please add that in.  I have some code to do this I was using in a plugin I was developing and I will see if I can get it in.

[2014-05-27 17:31] dcunited08 opened #4 "Enhancement: Use a single config file and optionally use .ssh/config"
One of the most annoying things about ST3 for me is they have a million config files scattered around the filesystem.  It is like Subversion's folders.  I would prefer an option to use a single config file.  Also, if we could use the .ssh/config as well that would be very helpful.

[2014-05-27 17:32] dcunited08 opened #5 "No JIT password prompt"
I believe it is a security issue to have no prompt to the user if they don't include a password in their config file.

[2014-05-28 13:04] #2 closed, assigned to nobody

[2014-05-28 20:48] coxtor opened #6 "Can not get Package to work"
Hi there I would love to use this plugin but unfortunately if I select Map to Remote this error comes up in path.js
  // posix version
  exports.join = function() {
    var paths = Array.prototype.slice.call(arguments, 0);
    return exports.normalize(paths.filter(function(p, index) {
      if (!util.isString(p)) {
        throw new TypeError('Arguments to path.join must be strings');
      }

![b

[2014-05-29 22:06] JonathanAaron opened #7 "Best way to use this package?"
I'm not sure how to get started using this package? I'm unable to log in with my credentials. What's the best way to get started with this app?

[2014-06-03 02:56] #1 closed, assigned to nobody

[2014-06-03 02:56] #6 closed, assigned to nobody

[2014-06-04 19:51] buschtoens opened #8 "Path normalization"
Windows path notation style must be converted to Unix path notation style when uploading from Windows machines.

Example:

[code]

Uploading a test file then creates this directory structure.
[code]

The expected behaviour would be:
[code]

[2014-06-08 12:16] Snake231088 opened #9 "Uncaught Error: ENOENT, no such file or directory '~/.ssh/id_dsa'"
If i use short path in os x 10.9.1 instead the full path ( /Users/myuser/.ssh/id_dsa ) i got this error
![schermata 2014-06-08 alle 14 13 39](https://cloud.githubusercontent.com/assets/6999976/3211164/b790dfb6-ef06-11e3-9e24-9ae1268f12a0.png)
It's normal?

[2014-06-12 03:29] ghost opened #10 "Error trying to install package"
Installing “SFTP-deployment@0.5.0” failed. Less…

npm http GET https://registry.npmjs.org/MD5
npm http GET https://registry.npmjs.org/ftp
npm http GET https://registry.npmjs.org/util
npm http GET https://registry.npmjs.org/node-dir
npm http GET https://registry.npmjs.org/ssh2
npm http 503 https://registry.npmjs.org/node-dir
npm ERR! registry error parsing json
npm http 503 https://registry.npmjs.o

[2014-06-12 13:37] setkeh opened #11 "Range Error: Buffer larger than maximum size."
I have Just installed the Plugin and im having an Issue getting it to work.

[code]
![screenshot-06 12 14-23 32 37](https://cloud.githubusercontent.com/assets/184479/3258169/7506daf0-f236-11e3-89a6-88a10d8750f4.png)

I have tried Restarting Atom and Also restarting my workstation.
Ill also test on My Laptop to see if it has the same issue on that too and update once thats done :)

[2014-06-18 00:22] udayms opened #12 "Multiple Remote Paths in Same Project"
Hi,

My dev env involves multiple servers. So, I want to be able to create multiple mappings to different folders on the server. Is this possible? Currently, when i click map to remote, the generated file has only one mapping in it -

{
  "type": "sftp",
  "host": "example.com",
  "user": "username",
  "password": "password",
  "port": "22",
  "remote_path": "/example/path",
  "ssh_key_file": "~/.

[2014-06-23 08:55] whuhacker opened #13 "Upload on save"
It would be great if the plugin could add an option "upload_on_save", so that the file will be uploaded automatically as soon as I edited and saved it.

[2014-06-25 20:44] andersonkoester opened #14 "[Ubuntu] Doesn't create config file when asked for it."
When I click on "Map to Remote", Atom shows me an alert to I choose SFTP or FTP, when I choose one of them, nothing happens.

[2014-06-27 00:38] Snake231088 opened #15 "Conflict with remember-session"
conflict with https://atom.io/packages/remember-session.

[2014-06-27 09:39] NickNoordijk opened #16 "Branch depended FTP settings"
I'm working on several projects that have multiple environments. It would be a great feature when I switch my GIT branch from testing to live, (if set) it changes my FTP settings with them.

[2014-07-01 04:37] heihachi opened #17 "sftp doesnt upload correctly"
When i upload a file with sftp it uploads to the home folder using the remote_path without any / or \'s

in the config i have remote_path set to
"remote_path": "/var/www/",

in /home/heihachi its lists as
heihachi@code-breaker:~$ ls
development
downloads
exclude.txt
project-fire -> /var/www/
varwww
\var\www\config.dist.php

I was looking around in the source code and cant find any place where it w

[2014-07-03 08:13] mvaneijgen opened #19 "What is the status of there features?"
[code]

I copied them from the sublime ftp plugin, really would love these features to fully switch to Atom.

[2014-07-03 21:59] felixphew opened #20 "How is one meant to specify a password for the ssh public key?"
I keep getting errors like `Uncaught Error: Encrypted private key detected, but no passphrase given`. How does one specify a passphrase for the private key? Or is there some other kind of key that doesn't need a passphrase? Am I missing something?

[2014-07-08 11:23] raspberry59 opened #22 "bad path"
When upload files to a remote server generated the wrong way.
Example: \home\<account_name>\qq\qq.php
Used by the client operating system: windows 8.1
Used server operating system: Linux 3.2

[2014-07-15 15:00] gdscei opened #23 "SFTP connection not closed after upload"
SFTP connections don't appear to be closed after uploading a file.
After a day's work, there are tons of sftp processes active on the server.

[2014-07-17 19:24] jon-weiss opened #24 "Uncaught SyntaxError: Unexpected token }"
I'm getting the error:

Uncaught SyntaxError: Unexpected token }

when trying to upload / download files. I'm pretty new to all of this, so bare with me!

I've set up a project and created the deployment-config.json file with all of the correct info.

Anyone have any advice? Thanks for the help.

[2014-07-28 11:37] kevin-george opened #27 "Config file doesn't show up when mapping to remote"
I opened up a folder and then tried to map to remote, it shows me a dialog window to select from either ftp/sftp. Selecting either of them doesn't show any config file.
I'm on a windows 7 machine and just got the windows alpha release. Am i doing something wrong or anything i'm missing?

[2014-09-08 15:26] joshdcomp opened #28 "Add support for excluded paths"
I'd love to use this package, but given my team's dev environment, I need to specify excluded files and dirs before I can actually include this in my workflow.

[2014-09-17 04:03] miguelcanijo opened #29 "File uploading error"
Updated atom into 0.129 I get this error every time I try to upload a file:

Uncaught TypeError: Cannot read property 'getPath' of undefined
../.atom/packages/SFTP-deployment/lib/filesystem/FileManager.js:98

[2014-09-27 15:14] smlombardi opened #30 "Cannot upload from Sidebar"
Select 1 or 2 files in sidebar, right-click & choose "FTP upload" andget this error:

[code]

Works fine when invoked from command palette

[2014-09-27 15:16] smlombardi opened #31 "Links in your manifest are not http"
The links that show up in the package's property pane in Atom (where you can enable/disable) settings are "git://" links: the package home page and report issues etc.

![screen shot 2014-09-27 at 11 15 49 am](https://cloud.githubusercontent.com/assets/835148/4431138/37974dfe-4659-11e4-992f-0e9c269cb8b9.png)

When clicked they generate an error instead of opening Safari like other packages do

![sc

[2014-10-07 17:33] RPDeshaies opened #32 "Add the possibility to Synchronize folder"
I think I would be a nice feature to add a Synchronize feature when `right clicking` on a folder to synchronize to `Remote -> Local` or `Local to Remote` like [this plugins](http://wbond.net/sublime_packages/sftp) does for Sublime Text 3

[2014-10-07 18:30] RPDeshaies opened #33 "Add the possibility to map to multiple remotes in the "deployment-config""
It would be nice to add the possibility to have multiple remote configs file and to switch between them.

It's common to have a config for the test server and another one for the production server.

[This plugins](http://wbond.net/sublime_packages/sftp) has this behavior for Sublime Text 3

[2014-11-06 14:24] Lerogero opened #35 "Error while trying to connect 'getPath'"
![image](https://cloud.githubusercontent.com/assets/5865044/4937121/9c77a7ba-65c0-11e4-8739-2da80c66b282.png)

Currently getting this error 'getPath' error whilst trying to connect to a server via SFTP

[2014-11-18 10:08] Trudko opened #36 "Package not showing details on connection_error"
Hi, first of all thank you for a plugin :)

When I tried the plugin on first time I got general error The connection has encountered an error. Problem is that this error didn't help me much so I had to debug to get details. What about adding data variable to message so instead of
[code]
in MessageObserver (line 49) have
[code]
so it is obvious what the problem is.

[2014-11-20 09:48] Trudko opened #37 "Packet integrity error and Authentication failure"
Hi, I am trying your plugin on Windows 8.1 and when I try to login using ssh key with config

[code]
but I get error "Disconnected by host (PROTOCOL_ERROR): Packet integrity error."

If I try to log in using  password

[code]
Then I get error "Authentication failure. Available authentication methods: publickey,keyboard-interactive"

What am I doing wrong?

[2014-12-03 21:07] rbrooks opened #38 "Where is the config file?"
When your extension generates its config file, neither the software nor your docs, say where that file is.

[2014-12-29 01:50] alexbet opened #39 "Error when uploading from sidebar"
Getting this error when trying to upload file from sidebar by right-clicking on the file and choosing "FTP/SFTP Upload selection" (see screen shot).
![screen_shot_2014-12-28_at_8_47_43_pm](https://cloud.githubusercontent.com/assets/3966760/5565639/2105bf2c-8ed3-11e4-8d88-43c3a2646b37.png)

[2014-12-31 17:37] icopp opened #40 "Feature request: Download on open"
Not sure how feasible/hard this is but I figured I'd note it.

It would work like the equivalent feature in Sublime SFTP: When a file in a mapped directory is opened (locally), the plugin checks for changes on that file in the background and downloads the server copy if it's different, reloading the local open file with that copy.

[2015-01-06 18:41] benogle opened #41 "Uncaught Error: ENOTDIR, open '/home/lgb/project/test.php/deployment-config.json'"
_From @pyhale on December 30, 2014 7:25_

[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 0.165.0
**System**: linux 3.13.0-43-generic
**Thrown From**: Atom Core

### Stack Trace

Uncaught Error: ENOTDIR, open '/home/lgb/project/test.php/deployment-config.json'

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

_Copied from original issue: atom/at

[2015-01-06 18:41] benogle commented on #41
This looks like a bug in the `sftp-deployment` package. Looks like it is trying to create a file (deployment-config.json) in a directory that is currently a file (/home/lgb/project/test.php).

[2015-01-06 18:41] benogle commented on #41
_From @kevinsawicki on January 6, 2015 18:5_

Please report this against the https://atom.io/packages/sftp-deployment package.

[2015-01-19 02:26] rafaelrp commented on #13
+1

[2015-01-26 21:44] joshdcomp opened #43 "[Request] Ignore local files"
My primary project has a dependency on grunt, which builds a `node_modules` directory in my local env that's not necessary on the deploy server…it would be nice to pass an array of local paths to ignore in the config

[2015-02-18 19:26] ssnyder commented on #12
+1 for more server mappings

[2015-02-18 19:33] ssnyder opened #46 "Uncaught Error: ENOENT, no such file or directory 'c:\Users\myUsername\AppData\Local\atom\app-0.176.0~.ssh\id_rsa'"
[Enter steps to reproduce below:]

1. select file from my project in tree view
2. right mouse button click - and select: FTP/SFTP Upload selection

File I chose is in the root of my project, and I'm not using ssh keys, so the id_rsa should not be used (see .ftpconfig for info)....plus the directory would be wrong anyway since I'm running this on windows and the ~ doesn't map to anything (unless I

[2015-02-20 18:34] Cipa opened #47 "Stopped working after not using for a few months with this project"
[Enter steps to reproduce below:]

1. open project
2. right click on tab and "Upload current file"

I restarted atom, config file as not changed

**Atom Version**: 0.182.0
**System**: Mac OS X 10.10.2
**Thrown From**: [SFTP-deployment](git://github.com/amoussard/sftp-deployment) package, v0.5.0

### Stack Trace

Uncaught TypeError: Arguments to path.join must be strings

[code]

### Commands

[cod

[2015-02-25 19:37] clov3rly opened #48 "How do I create a project?"
This is a dumb question... but I can't mapToRemote without creating a project. How do I create a project? I have open the folder that I want to map...

[2015-02-26 06:26] vtworockman commented on #48
I have this problem too

[2015-02-27 08:18] Mathahal commented on #48
I'm also in this situation.
![msg](https://cloud.githubusercontent.com/assets/5163255/6409279/8294bcec-bea4-11e4-9f90-371f03197dcb.png)

[2015-02-27 16:32] orlaqp commented on #48
I am having the same issue .. I also downloaded the Project Manager package and save the project but still getting the same message "Create a project before ..."

[2015-02-27 16:58] clov3rly commented on #48
Huh, glad it's not just me.

Atom 0.182.0

[2015-02-27 19:36] orlaqp commented on #48
I could really use this feature but not sure what to do to make it work and at this point do not have time to look at the package source code. In the meantime I am still using FileZilla Client.

[2015-03-01 02:53] blitzprog commented on #48
I have the same problem. How do I create a project for sftp-deployment?
I was thinking maybe it needs the Project Manager package but after creating a project there it still didn't change anything.

[2015-03-01 06:46] xabierarrabal commented on #48
same here

[2015-03-01 08:08] xabierarrabal commented on #48
Ok, so i made it work !! It creates a file in the project root file called .remote-sync.json with the following data:

{
  "transport": "scp",
  "uploadOnSave": false,
  "hostname": "ff",
  "port": "22",
  "ignore": [
    ".git/**"
  ]
}

When pushing the button Map to Remote.. i got same error as @Mathahal , The thing is that SFTP is evaluating the variable "atom.project.path" which is not suppor

[2015-03-01 22:47] chantelope commented on #48
Also having this issue

[2015-03-02 09:05] SharpEdgeMarshall commented on #48
same here!!!

[2015-03-02 22:07] misterGF commented on #48
+1

[2015-03-04 14:10] raugaral commented on #48
the same in Atom 0.184.0

[2015-03-05 15:59] matmuchrapna commented on #48
wtf is the project in atom without projects support?

[2015-03-06 06:25] aary commented on #48
I can't seem to work around it either..

[2015-03-06 23:04] reggi commented on #48
+1 this is madness

[2015-03-07 23:09] reggi commented on #48
I dug into the [DeploymentManager.js](https://github.com/amoussard/sftp-deployment/blob/c62107a63fea7cbd7e63aef7466f2acfb4841f08/lib/DeploymentManager.js)

[code]

Of course `atom.project.path` is undefined. I did a find and replace for it and got the "MapToRemote" by doing a find and replace for `atom.project.path` and replacing it with `atom.project.rootDirectories[0].path` all that function did

[2015-03-09 16:27] Pooky commented on #48
I find quick fix. At DeploymentManager.js after line 15 put this code and it should work.

[code]

[2015-03-12 11:32] webdesignberlin commented on #37
Trudko said:

Same Problem on Windows 7 and MacOSX 10.10.2 after Updating node from 0.10.x to 0.12.
Any ideas?

[2015-03-17 20:23] SeibelStan opened #50 "path must be a string"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 0.187.0
**System**: linux 3.13.0-37-generic
**Thrown From**: [SFTP-deployment](git://github.com/amoussard/sftp-deployment) package, v0.5.0

### Stack Trace

Uncaught TypeError: path must be a string

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-03-18 15:02] Cipa commented on #48
Many thx to @Pooky

[2015-03-19 02:42] alanhouser commented on #48
I concure; thanks @Pooky.
BTW: at first the fix didn't work. I had to restart Atom. Bingo.

[2015-03-19 02:49] alanhouser commented on #38
Agree. I'm browsing the files and not finding it either.

[2015-03-19 02:59] alanhouser commented on #27
Ditto. Thanks @kevin-george. Lots of time wasted on this package fo-realz.

[2015-03-19 04:44] alanhouser commented on #46
I have the same issue by taking the same steps as @ssnyder.

[Enter steps to reproduce below:]

1. selected file from my project in tree view
2. right mouse button click - and selected: FTP/SFTP Upload selection

**Atom Version**: 0.187.0
**System**: Mac OS X 10.10.2
**Thrown From**: [SFTP-deployment](git://github.com/amoussard/sftp-deployment) package, v0.5.0

### Stack Trace

Uncaught Error: ENO

[2015-03-27 11:18] Pooky commented on #39
I think this is coused by new Atom API. I solved this problem by following steps:

1) Open lib/filesystem/FileManager.js
2) At line 98 find this code: ```self.addToStack($(this).view().getPath());```
3) Replace it with this code: ```self.addToStack($("span", this).data("path"));```
4) Restart ATOM / or reload VIEW->RELOAD

[2015-03-27 11:22] Pooky commented on #50
Did you upload file from tree view? Or tab context menu?

[2015-03-27 11:23] Pooky commented on #48
@alanhouser You don't have to restart whole atom, you can reload your view by VIEW->RELOAD in menu :)

[2015-03-27 11:26] Pooky commented on #47
Try this fix: https://github.com/amoussard/sftp-deployment/issues/48#issuecomment-77888316
Meaby it will help.

[2015-03-27 11:52] Cipa commented on #47
it helped

[2015-03-30 00:32] amoussard commented on #50
Hi guys,

Sorry for the long period of inactivity.

We are currently working on a new version : better code, more stable, and bug fixes.
This bug will be fixed at the next release.

Thank you for using our work ! :)

[2015-03-30 00:33] amoussard commented on #48
Hi guys,

Sorry for the long period of inactivity.

We are currently working on a new version : better code, more stable, and bug fixes.
This bug will be fixed at the next release.

Thank you for using our work ! :)

[2015-03-30 00:33] amoussard commented on #47
Hi guys,

Sorry for the long period of inactivity.

We are currently working on a new version : better code, more stable, and bug fixes.
This bug will be fixed at the next release.

Thank you for using our work ! :)

[2015-03-30 00:34] amoussard commented on #46
Hi guys,

Sorry for the long period of inactivity.

We are currently working on a new version : better code, more stable, and bug fixes.
This bug will be fixed at the next release.

Thank you for using our work ! :)

[2015-03-30 00:37] amoussard commented on #41
Hi guys,

Sorry for the long period of inactivity.

We are currently working on a new version : better code, more stable, and bug fixes.
This bug will be fixed at the next release.

Thank you for using our work ! :)

[2015-03-30 00:39] amoussard commented on #39
Hi guys,

Sorry for the long period of inactivity.

We are currently working on a new version : better code, more stable, and bug fixes.
This bug will be fixed at the next release.

Thank you for using our work ! :)

[2015-03-30 00:40] amoussard commented on #38
Hi guys,

Sorry for the long period of inactivity.

We are currently working on a new version : better code, more stable, and bug fixes.
I will add documentation for that.

Thank you for using our work ! :)

[2015-03-30 00:44] amoussard commented on #37
Hi guys,

Sorry for the long period of inactivity.

We are currently working on a new version : better code, more stable, and bug fixes.
I will note that bug and see it after the next release (1.1.0).

Thank you for using our work ! :)

[2015-03-30 00:46] amoussard commented on #36
Hi @Trudko ,

Sorry for the long period of inactivity.

We are currently working on a new version : better code, more stable, and bug fixes.
This feature will be present at the next release.

Thank you for using our work ! :)

[2015-03-30 00:47] amoussard commented on #35
Hi guys,

Sorry for the long period of inactivity.

We are currently working on a new version : better code, more stable, and bug fixes.
This bug will be fixed at the next release.

Thank you for using our work ! :)

[2015-03-30 00:50] amoussard commented on #33
Hi @Tareck117 ,

I understand your demand, but I think that this plugin is not the best tool for your production deployment. Originally, it has been developed for the process development.

But I will think about it after fixing all other bugs.

Thank you for your feedback.

[2015-03-30 00:54] amoussard commented on #32
Hi guys,

Sorry for the long period of inactivity.

We are currently working on a new version : better code, more stable, and bug fixes.

Can you tell me more about this feature ? I don't understand the difference between synchronizing and download/upload...

For the compatibility, it will come with time and features :)

Thank you for using our work ! :)

[2015-03-30 00:57] amoussard commented on #31
Hi guys,

Sorry for the long period of inactivity.

We are currently working on a new version : better code, more stable, and bug fixes.
This bug will be fixed at the next release.

Thank you for using our work ! :)

[2015-03-30 00:58] amoussard commented on #30
Hi @smlombardi ,

Sorry for the long period of inactivity.

We are currently working on a new version : better code, more stable, and bug fixes.
This bug will be fixed at the next release.

Thank you for using our work ! :)

[2015-03-30 00:59] amoussard commented on #29
Hi guys,

Sorry for the long period of inactivity.

We are currently working on a new version : better code, more stable, and bug fixes.
This bug will be fixed at the next release.

Thank you for using our work ! :)

[2015-03-30 01:01] amoussard commented on #28
Hi @joshdcomp ,

Sorry for the long period of inactivity.

We are currently working on a new version : better code, more stable, and bug fixes.
This feature will be added after the next release (1.1.0).

Thank you for using our work ! :)

[2015-03-30 01:02] amoussard commented on #27
Hi guys,

Sorry for the long period of inactivity.

We are currently working on a new version : better code, more stable, and bug fixes.
This bug will be fixed at the next release.

Thank you for using our work ! :)

[2015-03-30 01:03] amoussard commented on #24
Hi guys,

Sorry for the long period of inactivity.

The configuration file is a json file, so it must be well formatted (no coma on the last parameter).

Thank you for using our work ! :)

[2015-03-30 01:04] #24 closed

[2015-03-30 01:04] amoussard commented on #23
Hi guys,

Sorry for the long period of inactivity.

We are currently working on a new version : better code, more stable, and bug fixes.
This bug will be fixed at the next release.

Thank you for using our work ! :)

[2015-03-30 01:05] amoussard commented on #22
Hi guys,

Sorry for the long period of inactivity.

We are currently working on a new version : better code, more stable, and bug fixes.
This bug will be fixed at the next release.

Thank you for using our work ! :)

[2015-03-30 01:21] Tareck117 commented on #32
A synchronization would check all the files on the server and compare them with the ones on the local machine to only uploads the ones that are not or are different on the server.

Local to remote : Upload all the files from local to remote that are not on the remote OR are different
Remote to local : Download all the files from the remote server to the local if the file is different or does not e

[2015-03-30 01:32] amoussard commented on #32
Thank you, I see what you want :)

I will develop this feature during the next releases, the priority is to fix all bugs.

[2015-03-30 01:36] amoussard commented on #20
Hi guys,

Sorry for the long period of inactivity.

We are currently working on a new version : better code, more stable, and bug fixes.

For this, I will implement a prompt if the passphrase is not in the config file.
This feature will be developed after the next release (1.1.0).

Thank you for using our work ! :)

[2015-03-30 01:36] amoussard commented on #17
Hi guys,

Sorry for the long period of inactivity.

We are currently working on a new version : better code, more stable, and bug fixes.
This bug will be fixed at the next release.

Thank you for using our work ! :)

[2015-03-30 01:37] amoussard commented on #14
Hi guys,

Sorry for the long period of inactivity.

We are currently working on a new version : better code, more stable, and bug fixes.
This bug will be fixed at the next release.

Thank you for using our work ! :)

[2015-03-30 01:38] amoussard commented on #13
Hi guys,

Sorry for the long period of inactivity.

We are currently working on a new version : better code, more stable, and bug fixes.
This feature will be added at the next release.

Thank you for using our work ! :)

[2015-03-30 01:40] amoussard commented on #10
Hi @ghost,

There is always a problem ?
Reopen if it's always present.

[2015-03-30 01:40] #10 closed

[2015-03-30 01:40] amoussard commented on #9
Hi guys,

Sorry for the long period of inactivity.

We are currently working on a new version : better code, more stable, and bug fixes.
This bug will be fixed at the next release.

Thank you for using our work ! :)

[2015-03-30 01:40] amoussard commented on #8
Hi guys,

Sorry for the long period of inactivity.

We are currently working on a new version : better code, more stable, and bug fixes.
This bug will be fixed at the next release.

Thank you for using our work ! :)

[2015-03-30 01:44] amoussard commented on #7
Hi guys,

Sorry for the long period of inactivity.

We are currently working on a new version : better code, more stable, and bug fixes.
This feature will be added at the next release.

Thank you for using our work ! :)

[2015-03-30 02:03] Tareck117 commented on #32
Awesome ! :)

On Sun, 29 Mar 2015 at 21:32 Axel Moussard <notifications@github.com> wrote:

[2015-03-30 19:32] joshdcomp commented on #28
Oh cool, that's good to hear!

[2015-03-31 00:59] bcabanes commented on #31
Hi,
This is fixed in the next release. https://github.com/amoussard/sftp-deployment/commit/0f3c7914c459e3419937b3412b957ed61b5c1bcc

[2015-04-05 12:43] kevinsimard opened #51 "Exposing coveralls secret token"
Is there any reason why you are exposing your private token while it should be working out-of-the-box with Travis CI. Adding the script to 'after_script' in .travis.yml should do the job without having to expose the token.

[2015-04-07 01:01] amoussard commented on #51
Hi @kevinsimard ,

Thank you for your remark, it's the first time I use Travis and Coveralls so... I will check that !

[2015-04-07 01:22] #31 closed

[2015-04-07 01:31] amoussard commented on #50
Hi guys,

A new version (1.0.0) was published tonight.
Feel free to reopen if the problem is still there.

Enjoy ! :D

[2015-04-07 01:31] #50 closed

[2015-04-07 01:31] amoussard commented on #48
Hi guys,

A new version (1.0.0) was published tonight.
Feel free to reopen if the problem is still there.

Enjoy ! :D

[2015-04-07 01:31] #48 closed

[2015-04-07 01:31] amoussard commented on #47
Hi guys,

A new version (1.0.0) was published tonight.
Feel free to reopen if the problem is still there.

Enjoy ! :D

[2015-04-07 01:31] #47 closed

[2015-04-07 01:32] amoussard commented on #46
Hi guys,

A new version (1.0.0) was published tonight.
Feel free to reopen if the problem is still there.

Enjoy ! :D

[2015-04-07 01:32] #46 closed

[2015-04-07 01:32] amoussard commented on #41
Hi guys,

A new version (1.0.0) was published tonight.
Feel free to reopen if the problem is still there.

Enjoy ! :D

[2015-04-07 01:32] #41 closed

[2015-04-07 01:32] amoussard commented on #39
Hi guys,

A new version (1.0.0) was published tonight.
Feel free to reopen if the problem is still there.

Enjoy ! :D

[2015-04-07 01:32] #39 closed

[2015-04-07 01:32] amoussard commented on #38
Hi guys,

A new version (1.0.0) was published tonight.
Feel free to reopen if the problem is still there.

Enjoy ! :D

[2015-04-07 01:32] #38 closed

[2015-04-07 01:33] amoussard commented on #36
Hi guys,

A new version (1.0.0) was published tonight.
Feel free to reopen if the problem is still there.

Enjoy ! :D

[2015-04-07 01:33] #36 closed

[2015-04-07 01:33] amoussard commented on #35
Hi guys,

A new version (1.0.0) was published tonight.
Feel free to reopen if the problem is still there.

Enjoy ! :D

[2015-04-07 01:33] #35 closed

[2015-04-07 01:33] amoussard commented on #30
Hi guys,

A new version (1.0.0) was published tonight.
Feel free to reopen if the problem is still there.

Enjoy ! :D

[2015-04-07 01:33] #30 closed

[2015-04-07 01:33] amoussard commented on #29
Hi guys,

A new version (1.0.0) was published tonight.
Feel free to reopen if the problem is still there.

Enjoy ! :D

[2015-04-07 01:33] #29 closed

[2015-04-07 01:33] amoussard commented on #27
Hi guys,

A new version (1.0.0) was published tonight.
Feel free to reopen if the problem is still there.

Enjoy ! :D

[2015-04-07 01:33] #27 closed

[2015-04-07 01:33] amoussard commented on #23
Hi guys,

A new version (1.0.0) was published tonight.
Feel free to reopen if the problem is still there.

Enjoy ! :D

[2015-04-07 01:33] #23 closed

[2015-04-07 01:33] amoussard commented on #22
Hi guys,

A new version (1.0.0) was published tonight.
Feel free to reopen if the problem is still there.

Enjoy ! :D

[2015-04-07 01:33] #22 closed

[2015-04-07 01:34] amoussard commented on #17
Hi guys,

A new version (1.0.0) was published tonight.
Feel free to reopen if the problem is still there.

Enjoy ! :D

[2015-04-07 01:34] #17 closed

[2015-04-07 01:34] amoussard commented on #14
Hi guys,

A new version (1.0.0) was published tonight.
Feel free to reopen if the problem is still there.

Enjoy ! :D

[2015-04-07 01:34] #14 closed

[2015-04-07 01:34] amoussard commented on #13
Hi guys,

A new version (1.0.0) was published tonight.
Feel free to reopen if the problem is still there.

Enjoy ! :D

[2015-04-07 01:34] #13 closed

[2015-04-07 01:34] amoussard commented on #9
Hi guys,

A new version (1.0.0) was published tonight.
Feel free to reopen if the problem is still there.

Enjoy ! :D

[2015-04-07 01:34] #9 closed

[2015-04-07 01:34] amoussard commented on #8
Hi guys,

A new version (1.0.0) was published tonight.
Feel free to reopen if the problem is still there.

Enjoy ! :D

[2015-04-07 01:34] #8 closed

[2015-04-07 01:34] amoussard commented on #7
Hi guys,

A new version (1.0.0) was published tonight.
Feel free to reopen if the problem is still there.

Enjoy ! :D

[2015-04-07 01:34] #7 closed

[2015-04-07 20:59] aary commented on #48
I

[2015-04-08 03:36] joshmarinacci opened #52 "Uncaught TypeError: Cannot read property 'path' of undefined"
I was able to successfully log into my server and edit a file, but when I tried to save the file I got this error.

[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 0.190.0
**System**: Mac OS X 10.10.3
**Thrown From**: [SFTP-deployment](https://github.com/amoussard/sftp-deployment) package, v1.0.0

### Stack Trace

Uncaught TypeError: Cannot read property 'path' of undefined

[c

[2015-04-08 12:44] amoussard commented on #52
Hi @joshmarinacci ,

How have you created/opened your project ?
Can I have screenshot of your tree-view at the moment of the error ?

[2015-04-15 13:56] #51 closed

[2015-04-18 21:19] dodekaeder opened #53 "Uncaught TypeError: Cannot read property 'length' of undefined"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 0.175.0
**System**: linux 3.16.0-4-amd64
**Thrown From**: [SFTP-deployment](https://github.com/amoussard/sftp-deployment) package, v1.0.0

### Stack Trace

Uncaught TypeError: Cannot read property 'length' of undefined

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

/cc @atom/core

[2015-04-18 21:22] dodekaeder commented on #53
tried to use sftp-deployment package

https://atom.io/packages/sftp-deployment

[2015-04-20 11:55] ranzwertig commented on #43
+1

[2015-04-21 08:18] dahappy1989 commented on #43
+1

[2015-04-25 20:44] antidamage opened #54 "Configuration file not created"
On Windows the configuration file is not being created by step 2 in the installation instructions. Simply nothing happens.

Additionally there's no indication in the documentation what the configuration file should be named.

[2015-04-26 14:15] qbolec opened #55 "remotePath vs remote_path"
The docs at https://github.com/amoussard/sftp-deployment names the key in the config using snake_case. The deployment-config.json file autogenerated by wizard uses camelCase.

Also, I get some strange "Cannot establish connection: path must be string" errors whenever I save something.

[2015-04-26 14:22] qbolec commented on #5
Moreover, when I left the password equal to empty string (which is the initial value suggested by the wizzard), then the error I got was really confusing: `"Cannot establish connection: path must be a string"`.

[2015-04-26 14:24] qbolec commented on #5
One more thing: the defaults seems to work in such a way that the include file itself gets synchronized to the server. This is even more serious security issue cause now I shared my password with coworkers :)

[2015-04-26 14:25] qbolec commented on #28
This seems very important to me to be able to at least block the config file itself, as it contains password! :)

[2015-04-29 04:10] marcoslhc commented on #55
It is `remote_path`.Is the only way I got it to work

[2015-05-15 09:15] ErikAGriffin opened #56 "FTPS Support?"
I'm wondering, is there planned support for FTPS?  My free hosting provider only supports SFTP on paid accounts.

[2015-05-20 13:03] benoitbar opened #57 "Enhancement: Add a local path config variable"
It would be nice to add the possibility to specify the local path to sync with remote path in config file because sometimes local and remote not have the same folder structure

[2015-05-21 19:45] Cipa opened #58 "Package.getStylesheetsPath is deprecated."
Store package style sheets in the `styles/` directory instead of `stylesheets/` in the `SFTP-deployment` package
[code]

[2015-05-22 14:38] Cipa opened #59 "Package.getActivationCommands is deprecated."
Use `activationCommands` instead of `activationEvents` in your package.json
Commands should be grouped by selector as follows:
[code]
[code]

[2015-05-23 22:18] samijnih commented on #59
+1

[2015-05-23 22:18] samijnih commented on #58
+1

[2015-05-24 20:22] Elitius commented on #3
Same question :)

[2015-05-25 15:02] MattMangoni commented on #58
+1

[2015-05-26 13:41] dvogt23 commented on #58
+1

[2015-05-26 13:42] dvogt23 commented on #59
+1

[2015-05-26 22:03] WesCossick commented on #43
+1

[2015-06-02 16:39] onetrev opened #61 "[Feature Request] Automatic upload of sass generated main.css file"
It would be super useful if it is possible to add the feature whereby when you save a .scss file and a new main.css (or whatever you happen to call it) is generated, that main.css file is also uploaded.

It makes for a very awkward workflow right now having to keep the main.css file open in a tab and uploading that each time you save a .scss file. Same thing for LESS folks would apply I would assu

[2015-06-05 04:28] liushili72 commented on #59
+1

[2015-06-05 04:29] liushili72 commented on #58
+1

[2015-06-05 05:16] marcoslhc opened #62 "Uncaught TypeError: undefined is not a function"
[Enter steps to reproduce below:]

1. Select Upload Current File in context menu

**Atom Version**: 0.206.0
**System**: Mac OS X 10.10.3
**Thrown From**: [SFTP-deployment](https://github.com/amoussard/sftp-deployment) package, v1.0.0

### Stack Trace

Uncaught TypeError: undefined is not a function

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-06-05 18:56] nickmoline commented on #52
Happens to me if I move a tab outside of the project window and then attempt to save the file in that tab

Stack Trace
[code]

[2015-06-07 12:41] charle-s commented on #62
Hi,
I use this plugins for 2 months without problem but since some  days i have the same problem than you: "Uncaught TypeError: undefined is not a function".

Atom version : 0.207.0
Thrown From: SFTP-deployment package, v1.0.0

Someone kown a solution at this probleme ?

Thanks in advance,

Charles

[2015-06-08 14:37] marcoslhc commented on #59
I've tried this: https://github.com/amoussard/sftp-deployment/pull/60 but to no avail.

[2015-06-09 00:27] christ0ph3r commented on #62
Hi,

I used this plugin fine for months as well.  Now this error occurs.

[2015-06-10 06:49] dvogt23 commented on #62
+1

[2015-06-10 07:24] Salamafet commented on #58
+1

[2015-06-10 07:24] Salamafet commented on #59
+1

[2015-06-10 14:36] kupoback commented on #62
I'm getting the same issue as you all.

I am running 0.208.0

Anyone have any idea how to correct this, or an alternative to an SFTP upload?

[2015-06-10 15:26] marcoslhc commented on #62
Now I'm using https://atom.io/packages/remote-sync Don't have the time to
fix and propose a PR right now and I'm way to comfy with atom to change
editor

*Saludos…*

*Marcos Luis Hernández*
~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~

1151, Fairlake Tr. #1716.
Weston, FL. 33326

[*website*]: *http://xiryvella.com/ <http://xiryvella.com/>*
[*github*]: *https://github.com/marcoslhc* <https://github.com/

[2015-06-13 10:42] grubin1989 commented on #59
+1

[2015-06-13 10:42] grubin1989 commented on #58
+1

[2015-06-13 10:44] grubin1989 commented on #62
+1

[2015-06-16 23:48] JohnQUnknown commented on #52
Same here for me, I was trying to save a file and got the following:

1. Open a file from remote server
2. Modify contents
3. Try to save the file

**Atom Version**: 0.209.0
**System**: Microsoft Windows 10 Pro Insider Preview
**Thrown From**: [SFTP-deployment](https://github.com/amoussard/sftp-deployment) package, v1.0.0

### Stack Trace

Uncaught TypeError: Cannot read property 'path' of undefin

[2015-06-19 10:25] DavidValin opened #63 "Package.getStylesheetsPath is deprecated."
Store package style sheets in the `styles/` directory instead of `stylesheets/` in the `SFTP-deployment` package
[code]

[2015-06-19 10:25] DavidValin opened #64 "Package.getActivationCommands is deprecated."
Use `activationCommands` instead of `activationEvents` in your package.json
Commands should be grouped by selector as follows:
[code]
[code]

[2015-06-25 22:20] rafaelstz commented on #62
:+1:

[2015-06-26 04:13] bradleyflood commented on #62
+1

[2015-06-27 09:08] n9iels opened #65 "error when downloading on atom 1.0"
I receive the following error when I try to download a folder:
[code]
I'm using atom 1.0.
Please fix this, because I like the idea of your package very much!
Thank!

[2015-06-29 09:23] udokmeci commented on #62
[code]

Undefinied is `atomModule.$`

[2015-06-29 13:29] johnsontb opened #66 "Uncaught Error: Cannot find module 'bluebird'"
[Enter steps to reproduce below:]

1. just tried to run sftp

**Atom Version**: 1.0.0
**System**: Mac OS X 10.10.3
**Thrown From**: [SFTP-deployment](https://github.com/amoussard/sftp-deployment) package, v1.0.0

### Stack Trace

Uncaught Error: Cannot find module 'bluebird'

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-06-29 17:16] tuberiumf commented on #62
I fixed this, and send pull request to author

[2015-06-30 07:51] DSigmund opened #68 "Uncaught TypeError: undefined is not a function"
C:\Users\sigmundd\.atom\packages\SFTP-deployment\lib\observers\MessageObserver.js:47

TypeError: undefined is not a function
    at showLoader (C:\Users\sigmundd\.atom\packages\SFTP-deployment\lib\observers\MessageObserver.js:47:21)
    at MessageObserver.notify (C:\Users\sigmundd\.atom\packages\SFTP-deployment\lib\observers\MessageObserver.js:73:13)
    at C:\Users\sigmundd\.atom\packages\SFTP-de

[2015-06-30 14:58] anatooly opened #69 "Package.getActivationCommands is deprecated."
Use `activationCommands` instead of `activationEvents` in your package.json
Commands should be grouped by selector as follows:
[code]
[code]

[2015-06-30 15:53] setholito commented on #69
Atom says this has been deprecated...?

[2015-06-30 16:24] codycoder commented on #68
I have the same issue: /Users/rob/.atom/packages/SFTP-deployment/lib/observers/MessageObserver.js:47

[2015-06-30 17:52] anatooly commented on #69
Yes. On new 1.0 version.

[2015-06-30 18:58] alanhouser commented on #68
Ditto —when right-clicking on project root folder and selecting "download selection"

/Users/alanhouser/.atom/packages/SFTP-deployment/lib/observers/MessageObserver.js:47

TypeError: undefined is not a function
    at showLoader (/Users/alanhouser/.atom/packages/SFTP-deployment/lib/observers/MessageObserver.js:47:21)
    at MessageObserver.notify (/Users/alanhouser/.atom/packages/SFTP-deployment/l

[2015-06-30 19:52] mbuquet commented on #40
+1

I also use Sublime SFTP and this feature is incredibly useful. Say I switch branches on the server, I want to make sure the file I'm editing matches what is on the server before I begin.

[2015-06-30 23:59] motionland commented on #68
The same issue here too! -- Thanks

[2015-07-01 03:15] vsnote commented on #68
How to solve

[2015-07-01 15:21] alanhouser commented on #68
I just cleared everything out and set it up again; got the same error when trying to "Download Selection".

[2015-07-01 22:59] alessiodionisi commented on #68
Same error...

[2015-07-02 06:59] dst89 commented on #68
same :(

[2015-07-02 08:13] anatooly commented on #63
This on new 1.0 Atom version.

[2015-07-03 14:24] rafaelstz commented on #68
Same :disappointed:

[2015-07-06 19:35] DKMonster commented on #68
same :(

[2015-07-08 10:35] voodoo144 commented on #68
the same issue

[2015-07-11 03:25] lipelopeslage commented on #57
agreed

[2015-07-13 01:40] CoreySwish commented on #68
+1

[2015-07-13 08:05] Shegl commented on #52
Also have this problem:

[code]

[2015-07-13 15:05] jbbrwcky commented on #68
+1

[2015-07-13 15:37] CoreySwish commented on #52
[Enter steps to reproduce below:]

1. opened file
2. edited
3. tried to save [command + s]
4. error

**Atom Version**: 1.0.2
**System**: Mac OS X 10.10.3
**Thrown From**: [SFTP-deployment](https://github.com/amoussard/sftp-deployment) package, v1.0.0

### Stack Trace

Uncaught TypeError: Cannot read property 'path' of undefined

[code]

### Commands

[code]

### Config

[code]

### Installed Packa

[2015-07-14 10:51] marekmaurizio commented on #19
I will switch to atom as soon a package implements all these, monitor included. +++

[2015-07-14 13:11] pvtmashkov commented on #68
+1

[2015-07-15 12:26] tony-garcia commented on #68
this bug has to do with changes to the Atom 1.0 API described [here](https://atom.io/docs/v0.204.0/upgrading-to-1-0-apis-upgrading-your-package). I issued a pull request where you can see the [changes](https://github.com/tony-garcia/sftp-deployment/commit/013402ed4cb054e6be981e65b06c6f3da10e2044)

[2015-07-15 18:19] g33kidd commented on #43
+1

[2015-07-17 22:20] JeffShomali commented on #68
+1

[2015-07-20 17:46] bbg-rdorsey commented on #68
+1

[2015-07-21 14:23] #63 closed

[2015-07-23 10:34] igormilla commented on #68
+1

[2015-07-24 09:06] PazzaVlad commented on #58
+1

[2015-07-25 06:52] KongXianghuan opened #73 "Package.getStylesheetsPath is deprecated."
Store package style sheets in the `styles/` directory instead of `stylesheets/` in the `SFTP-deployment` package
[code]

[2015-07-27 02:22] bradleyflood commented on #68
+1

[2015-07-27 13:42] amoussard commented on #37
Hi guys,

This problem is still alive ?
My previous work should have corrected it.

[2015-07-27 14:00] amoussard commented on #73
Hi @KongXianghuan,

This issues is fixed.

[2015-07-27 14:00] #73 closed

[2015-07-27 14:00] amoussard commented on #69
Hi @anatooly

This issues is fixed.

[2015-07-27 14:00] #69 closed

[2015-07-27 14:00] amoussard commented on #68
Hi guys,

This issues is fixed.

[2015-07-27 14:00] #68 closed

[2015-07-27 14:01] amoussard commented on #65
Hi @n9iels ,

This issue is fixed.

[2015-07-27 14:01] #65 closed

[2015-07-27 14:01] amoussard commented on #64
Hi @DavidValin,

This issue is fixed.

[2015-07-27 14:01] #64 closed

[2015-07-27 14:02] amoussard commented on #59
Hi guys,

This issue is fixed.

[2015-07-27 14:02] #59 closed

[2015-07-27 14:02] amoussard commented on #58
Hi guys,

This issue is fixed.

[2015-07-27 14:02] #58 closed

[2015-07-27 14:04] amoussard commented on #55
Hi guys,

I have fixed the documentation, you must use `removePath`.

[2015-07-27 14:04] #55 closed

[2015-07-27 14:05] amoussard commented on #11
Hi guys,

This problem is still there ?

Thank you.

[2015-07-27 14:14] amoussard commented on #54
Hi @antidamage,

This problem is still there ?

Thank you.

[2015-07-27 14:16] amoussard commented on #62
Hi guys,
This issue is fixed.
Thank you all and especially @tuberiumf :)

[2015-07-27 14:16] #62 closed

[2015-07-27 14:16] amoussard commented on #66
Hi @johnsontb,

Have you tried to uninstall then install it?

[2015-07-27 14:24] #53 closed

[2015-07-27 14:30] amoussard commented on #52
Hi guys,

This issue is normally resolved.

[2015-07-27 14:30] #52 closed

[2015-07-27 14:30] amoussard commented on #53
Hi guys,

This issue is normally resolved.

[2015-07-27 20:37] antidamage commented on #54
Sorry dude no idea. What is this in relation to?

Justin Cook
http://www.skull.co.nz
justin@skull.co.nz
021 2700 222

On 28 July 2015 at 02:14, Axel Moussard <notifications@github.com> wrote:

[2015-07-27 21:27] #54 closed

[2015-07-27 21:49] CoreySwish commented on #52
[Enter steps to reproduce below:]

1. updated to 1.0.2
2. restarted atom2
3. browser remote
4. opened
5. edited, save -> error.

**Atom Version**: 1.0.2
**System**: Mac OS X 10.10.3
**Thrown From**: [SFTP-deployment](https://github.com/amoussard/sftp-deployment) package, v1.0.2

### Stack Trace

Uncaught TypeError: Cannot read property 'path' of undefined

[code]

### Commands

[code]

### Config

[2015-07-27 21:56] micahblu commented on #57
Big + 1 :) As the plugin stands, its unusable for me and would imagine most who have a root directory that contains a src and dist directories. Essentially I need to inform the plugin which local directory to base from when uploading to the server. So instead of uploading to src/index.html it would just upload to /index.html for example.

[2015-08-06 06:33] C860 commented on #43
+1

[2015-08-06 06:45] C860 opened #74 "Cannot established connection: All configured authentication methods failed"
Hi, I'm trying to use the config below:
[code]
but got an error:

But the same config on sublime sftp did well,is there something wrong with my config?

[2015-08-07 07:10] shulyugin commented on #43
+1

[2015-08-12 09:02] dtsn commented on #74
I get the same error when connecting to one of my servers. It works fine on the other.

[2015-08-12 11:31] C860 commented on #74
@dtsn My server doesn't use the default port of 22, I guess this is one of the reason that cause the error.Does your server use the default port?

[2015-08-13 11:22] WolfieZero commented on #74
I'm getting the same error (knowing it's all correct) and my port number is not the default either.

[2015-08-13 15:58] #37 closed

[2015-08-13 15:59] #66 closed

[2015-08-13 15:59] #11 closed

[2015-08-14 05:18] C860 commented on #74
OK, I found the problem: https://github.com/mscdex/ssh2/issues/238

`ssh2 module` support the 'keyboard-interactive' option which has not been used in `sftp-deployment`.

Now I use the https://github.com/mgrenier/remote-ftp instead because it support the 'keyboard-interactive' option.

[2015-08-18 21:19] rafaelstz opened #75 "Several simultaneous deploys"
Feature to several simultaneous deploys. :smile:

[2015-08-19 05:44] symfonyluxury opened #76 "download prompt "sftp cannot create directory....""
I use existing project and config setting is ftp. Upload files works fine except download function, it always prompt me "sftp cannot create directory....", the directory exists, but cannot download files within it, any1 encounter this issue??

[2015-08-20 19:15] mrapogee commented on #76
+1

[2015-09-02 16:28] 50Wliu opened #77 "Failed to load the SFTP-deployment package"
_From @njaen on September 2, 2015 16:0_

[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.0.10
**System**: Mac OS X 10.10.5
**Thrown From**: Atom Core

### Stack Trace

Failed to load the SFTP-deployment package

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

_Copied from original issue: atom/atom#8639_

[2015-09-04 07:26] Amstramgram commented on #61
+1

[2015-09-08 11:23] TheFienix commented on #76
+1

[2015-09-13 17:02] eregla commented on #76
+1

[2015-09-15 06:32] darol100 commented on #12
@udayms ,

There is a workaround around, which is not the best but it work. So you can have multiple project folders within Atom and keep the same deployment-config.json but different remotePath. You are organize you Atom editor with multiple project folders and deploy things individual.

Here is an example:

![screen shot 2015-09-14 at 11 28 38 pm](https://cloud.githubusercontent.com/assets/68084

[2015-09-15 06:36] darol100 commented on #75
This is duplicate issue from #12 .

There is a workaround but it require a little bit more work.

https://github.com/amoussard/sftp-deployment/issues/12#issuecomment-140293991

[2015-09-15 06:36] darol100 commented on #75
I think we should close this issue since is a duplicate.

[2015-09-15 06:37] darol100 commented on #33
@RPDeshaies ,

This is duplicate issue from #12 .

There is a workaround but it require a little bit more work.

https://github.com/amoussard/sftp-deployment/issues/12#issuecomment-140293991

I think we should close this issue since is a duplicate.

[2015-09-15 07:07] FrankVanVuuren commented on #76
+1

[2015-09-15 13:10] rafaelstz commented on #75
Ok, thanks! :+1:

[2015-09-15 13:10] #75 closed

[2015-09-18 14:51] rez0n commented on #76
+1

[2015-09-19 03:14] hieutrtr opened #78 "[SFTP protocol with private key] Cannot established connection : invalid username"
There's an issue when i use sftp-deployment.
{
    "type": "sftp",
    "host": "dragon",
    "user": "trunghieu",
    "port": "22",
    "remotePath": "/home/trunghieu/phpamqp_consumers/event_worker",
    "sshKeyFile": "~/.ssh/id_rsa",
    "uploadOnSave": true
}

--> Cannot established connection : invalid username

my username is trunghieu on my dragon host.
i alway use ssh trunghieu@dragon to con

[2015-09-19 08:45] vitaly-zdanevich opened #79 "Documentation: where is generated config file?"
I think that after generating config file (mapToRemote) Atom must open this file - I don't know where is this file.

[2015-09-22 10:53] #74 closed

[2015-09-23 20:17] kordero commented on #76
+1, works like a charm in Ubuntu :), only happened in Windows 7 for me

[2015-09-23 20:22] kordero commented on #76
I'm afraid that this has to do with permissions somehow.

Guessing that the complete tree is created before files, when the "Download Selection" process is ran, "read only" flag set on directories, and it seems like it can't write inside of them when trying to fetch content files.

[2015-09-24 18:53] Jaballadares opened #80 "Uncaught TypeError: Cannot read property 'on' of undefined"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.0.16
**System**: Mac OS X 10.10.5
**Thrown From**: [SFTP-deployment](https://github.com/amoussard/sftp-deployment) package, v1.0.2

### Stack Trace

Uncaught TypeError: Cannot read property 'on' of undefined

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-09-25 02:56] kaizhuQin opened #81 "how it work?"
I just dont know how it can upload local file to the remote service.?

[2015-09-28 00:55] duncanmapes opened #82 "keybindings not working for me"
[code]

I have the above in my keymap.cson but it is not working...what am I missing?

[2015-09-28 02:54] sylistine opened #83 "Readme.md out of date"
The example deployment-config.json file in Readme.md says `"user":` but the default deployment-config.json file (created through Packages menu -> FTP/SFTP -> Map to Remote...) comes with `"username": `
Not sure which other settings are incorrect.

[2015-10-04 09:56] lparmentier-quatral opened #84 "Allowed to using .ssh/config"
It would be really great if we could using .ssh/config.

I mean all my configuration already exist to connect on my different ssh server, and i don't want to edit 2 differents files (mean .ssh/config + ftp/sftp configuration) which have the same informations.

It would be really great to integrate this with the plugin

[2015-10-04 10:01] lparmentier-quatral commented on #84
Link with #4 (optional ask)

[2015-10-05 09:42] Amstramgram opened #85 "Location of notification"
Hello,

i'm not really fan of top/right notification. So I do this for adding success message in bottom statut-bar.

[code]

And now i try too add message " (FTP || SFTP) is ready." and "Loading","Loading.","Loading..","Loading...".

[2015-10-11 01:32] adamsir opened #86 "Failed to activate the SFTP-deployment package"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.0.19
**System**: Mac OS X 10.10.5
**Thrown From**: [SFTP-deployment](https://github.com/amoussard/sftp-deployment) package, v1.0.2

### Stack Trace

Failed to activate the SFTP-deployment package

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-10-12 23:52] putude opened #87 "A error occured during configuration file creation"
Hello,
I know this package will bring a lot of advantages. But sadly, It error when I click "Map To Remote".
It said "A error occured during configuration file creation"
![error](https://cloud.githubusercontent.com/assets/2032438/10441778/3c794e1a-717f-11e5-9c90-6461ed21fa4a.jpg)

I use windows 7 64bit.

thank you & best regards,
Putude

[2015-10-13 00:42] tarasleshko commented on #79
The same problem((

[2015-10-14 08:09] lightinen opened #88 "cannot upload sftp after latest atom update"
Atom v.1.0.19
OS Win10x64

Trace:
Error: Cannot find module 'ssh2'
    at Module._resolveFilename (module.js:334:15)
    at Function.Module._resolveFilename (C:\Users\Стас\AppData\Local\atom\app-1.0.19\resources\app.asar\src\module-cache.js:383:52)
    at Function.Module._load (module.js:284:25)
    at Module.require (module.js:363:17)
    at require (module.js:382:17)
    at Object.<anonymous> (C

[2015-10-14 23:38] sbarnekow commented on #80
I'm hitting the same error! cc @amoussard

[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.0.19
**System**: Mac OS X 10.10.2
**Thrown From**: [SFTP-deployment](https://github.com/amoussard/sftp-deployment) package, v1.0.2

### Stack Trace

Uncaught TypeError: Cannot read property 'on' of undefined

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[cod

[2015-10-15 20:47] Mobilpadde commented on #43
+1

[2015-10-16 11:23] Qhuhuit commented on #81
up, me too .. what's next after the .ftpconfig is ready ?

[2015-10-16 16:36] ksb86 opened #90 "Can't save file"
If I open Atom by itself (no files, folders or projects), a new blank unsaved file window opens.  If I enter text and try to save that file, I get an error and cannot save the file.

[Enter steps to reproduce below:]

1. Open Atom
2. Type text in new window
3. Command+S

**Atom Version**: 1.0.19
**System**: Mac OS X 10.10.5
**Thrown From**: [SFTP-deployment](https://github.com/amoussard/sftp-deplo

[2015-10-19 22:40] eon8ight opened #91 "Can't upload files"
Keeps saying "Cannot established connection: path must be a string."

remotePath in deployment-config.json is indeed a string, but this message still appears when trying to upload.

[2015-10-19 22:55] eon8ight opened #92 "Connection refused"
Attempting to upload fails with "connect ECONNREFUSED 127.0.0.1.:21" despite correctly formatted deployment-config.json file with correct credentials, host, port, and connection type.

[2015-10-20 13:01] PawelGIX opened #93 "Wrong path on upload"
Uploaded files goes to /Application/MAMP/htdosc/[and there actual path]

[2015-10-28 14:19] rinkpijpker commented on #52
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.0.19
**System**: Mac OS X 10.11.1
**Thrown From**: [SFTP-deployment](https://github.com/amoussard/sftp-deployment) package, v1.0.2

### Stack Trace

Uncaught TypeError: Cannot read property 'path' of undefined

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-11-03 14:03] JohnWang42 commented on #43
+1

[2015-11-03 18:14] willotter opened #94 "Anything on stderr throws RemoteDirectoryNotCreatedException"
https://github.com/amoussard/sftp-deployment/blob/master/lib/connections/SftpConnection.js#L70 this line of code catches anything on stderr and throws an exception. I experienced this because my server was incorrectly configured and was outputting `stdin: is not a tty` to stderr even though the command succeeded. I can't think of a elegant way to handle this. Maybe throw a more generic error as it

[2015-11-04 11:01] XEngine opened #96 "Same.."
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.1.0
**System**: Mac OS X 10.11.1
**Thrown From**: [SFTP-deployment](https://github.com/amoussard/sftp-deployment) package, v1.0.2

### Stack Trace

Uncaught TypeError: Cannot read property 'on' of undefined

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-11-05 17:54] palodequeso commented on #43
+1

[2015-11-07 00:57] Cipa commented on #78
Same here, used to work but now I get
Cannot established connection : invalid username

[2015-11-08 11:38] alexnuijten opened #97 "How to disable the package?"
Not all of my work should be uploaded via FTP, some files/projects are local - or map to a different FTP site. How can this be accomplished?
So basically it boils down to: I only want to upload to FTP when I explicitly tell it to.

[2015-11-09 15:09] edoardo849 commented on #57
agreed

[2015-11-10 18:41] #91 closed

[2015-11-10 18:41] #92 closed

[2015-11-12 12:24] simonjosefsson opened #98 "path must be a string (Windows issue?) + text mode transfers"
I couldn't get the settings to work ("path must be a string" error) so I had to manually edit `lib\configs\SftpConfig.js` so that `this.sshKeyFile = "C:\\path\\to\\my\\keyfile.pem"`

Uploading files now work but newline characters are keep as Windows when transfered to Linux server

Please enable "text mode" transfers so that '\r\n' are converted to '\n'

[2015-11-15 06:35] stefanwuthrich commented on #57
agreed +1

[2015-11-27 22:18] orkank opened #100 "Security bug"
"deployment-config.json" need prevent to be upload.

[2015-11-27 23:01] REJack commented on #100
a ignore function with regex or minimatch would be great too

[2015-11-29 11:07] obust commented on #43
+1
And/or add an option in deployment-config.json to NOT consider files for upload if they match a pattern in .gitignore

[2015-11-29 11:18] REJack commented on #43
+1

[2015-11-30 22:08] davidchoy commented on #80
(me too w/ "Upload open files")

[2015-12-04 08:13] orkank opened #101 "Multiple project folder"
Hi,

Can't work with multiple project, sftp-deployment just using first project "deployment-config.json" file and ignore other project's config files.

[2015-12-06 17:49] druchavda commented on #32
This is what I really need, it is kind of stopping me from moving to Atom from Sublime! It helps me quickly deploy my site, its almost there, it just needs to delete files that are removed from the server.

[2015-12-08 06:02] brownzilla opened #102 "Error updating exisiting file."
Whenever you update a file, it won't upload the new file to server.

Example:

**Before Edit** It uploads this.
[code]

**After Edit** After saving this file, it still won't update the file on the server.
[code]

[2015-12-08 09:36] brownzilla commented on #102
Issue was fixed. CloudFlare was interrupting my cache.

[2015-12-08 09:36] #102 closed

[2015-12-10 09:18] panhezeng opened #103 "ignore_regexes deployment-config.json , toggle remote file view"
ignore_regexes deployment-config.json , toggle remote file view

[2015-12-24 10:31] NomNes opened #104 "Files outside the project"
Plugin uploads files that are outside of the project (including Atom configuration files). Result path: [RemotePath]/C:/Path/To/File...
Sorry for the bad english

[2015-12-26 17:01] AlbertoCenzato commented on #76
+1, error happened on windows 10

[2015-12-29 04:19] mpandar commented on #52
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.3.2
**System**: Mac OS X 10.11.2
**Thrown From**: [SFTP-deployment](https://github.com/amoussard/sftp-deployment) package, v1.0.2

### Stack Trace

Uncaught TypeError: Cannot read property 'path' of undefined

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2016-01-03 15:59] rainbowtiger commented on #76
Same for me when uploading. "Cannot create remote directory". Set to use SFTP. All the connection info is correct, and the Remote Sync package uploads just fine with the same connection info.

[2016-01-04 09:56] Dussed commented on #43
+1

[2016-01-04 15:42] dampergud1 opened #105 "Path must be a string"
"cannot established connection: Path must be a string"

I have tried :

remotePath
&
remote_path

SSH is working

[2016-01-04 17:45] dampergud1 commented on #105
I tried uploading from tree-view right click menu**

[2016-01-11 20:57] tukhfatov commented on #90
Same issue

[2016-01-13 08:45] BertLindeman commented on #79
Same here.
At least add the filename to the confirm dialog:
![sftpdeployment_confirm_message](https://cloud.githubusercontent.com/assets/8142081/12289179/3533009e-b9da-11e5-9d6d-1d79cab30ef1.png)
One needs to know what will be overwritten before this question can be replied to.

[2016-01-14 21:02] ConAntonakos opened #106 "How to download via SFTP after JSON configuration"
Hi. Sorry for the novice question, but how do I actually go about and start downloading files to my local folder? I set up the config JSON file, and I go to the top-level directory, right-click and "download selection". Then, I get a spinning octocat to the right of the Atom application that seems to spin forever. Any ideas?

[2016-01-17 05:10] Sajonara commented on #101
The same here. I have opened several projects in Atom, but it ignores the other ones and only interpretes the first. This uploads files to where they do not belong.

[2016-01-17 05:16] Sajonara commented on #12
I have 3 different files but it only uploads to the remote path named in the first.

[2016-01-18 02:37] powerofgood opened #107 "List of restricted files"
Hello.
I want to suggest you one feature. Can you make some kind of list of allowed files? For ex, when I click on directory and select upload to SFTP I want to exclude *.pyc files from upload list. Or you can use .atomignore file (which is for TreeView Ignore extension) for this feature.
Thank you

[2016-01-19 21:59] daverogers commented on #4
+1 for this. Better yet, check config.cson for an sftp-deployment key which could also be scoped to each project by [atom-project-manager](https://github.com/danielbrodin/atom-project-manager).

This isn't just a vanity enhancement, it's absolutely necessary for working in Git branches without distributing SFTP credentials to the entire team/public (or having to re-create the deployment config on

[2016-01-20 15:48] zolotoy opened #108 "Theme bug"
I have UI Theme (One Light) bug with your package.
See screenshot please:
![2016-01-20 17 47 59](https://cloud.githubusercontent.com/assets/25311/12453902/f8094b32-bf9d-11e5-9300-d4dbea8b9c21.png)

[2016-01-20 15:50] zolotoy opened #109 "Upload on focus lost"
Is it possible to upload to server file on editor focus lost?

[2016-01-22 22:33] daverogers commented on #97
You mean you want a filter? (i.e. don't upload .gitignore, etc.)

[2016-01-25 08:32] pdesterlich commented on #57
agreed +1

[2016-01-25 12:03] alexnuijten commented on #97
Yes, exactly. That would be awesome.

[2016-01-25 17:44] Lockcuff commented on #106
I am having a similar issue, after setting up the json config, I cannot connect to any of my servers. How did you setup your config file?

[2016-01-27 13:15] KimTheFirst commented on #78
Chucking my comment in here - same exact issue for me, username is valid.

- Details are being used in numerous other programs with no error.

- I have also tried with a re saved keyfile, using puttygen to re save the key file in both openSSH and ssh.com formats

- **Error occurs with no internet connection, which suggests that no attempt is being made to connect before the error is generated**

[2016-01-28 08:07] joshmweinstein commented on #52
[Enter steps to reproduce below:]

1. Browse remote server
2. Open file
3. Edit file
4. Save file

**Atom Version**: 1.4.0
**System**: Mac OS X 10.11.2
**Thrown From**: [SFTP-deployment](https://github.com/amoussard/sftp-deployment) package, v1.0.2

### Stack Trace

Uncaught TypeError: Cannot read property 'path' of undefined

[code]

### Commands

[code]

### Config

[code]

### Installed Package

[2016-01-29 20:54] okolafa commented on #87
Hello, I have a same problem, on Windows 10, 64bit. If I create file deployment-config.json manually, once I try to upload, I get this message:
The configuration file does not exist.

[2016-01-31 16:15] matthewaprice opened #110 "Close File Browser on File Open"
Hello,

Thanks for making a slick package to make Atom better.

Is there a way/setting that i am not seeing that allows the file browser to hide (auto F-10) when opening a file?

I like keeping the browser full height to see everything easier and being able to have it hide when opening a file would be awesome.

Thanks

Matt

[2016-02-01 16:20] notoriousno commented on #76
I'm no NodeJS (or even regular JS) developer, but I think the issue begins on line 46 in `~/.atom/packages/SFTP-deployment/connections/Connection.js`.  First off, there is no `mkdir -p` option in Windows, so that will start the error callback and cause the callback chain to end. Also simply changing the command to `mkdir` needs to be able to catch if the path exists.  Hopefully that helps the devs

[2016-02-03 14:11] Amstramgram commented on #52
0. window already open with project, tabs open and sftp config
1. open new window
2. open new file
3. add content
4. save (cmd + s)

**Atom Version**: 1.4.3
**System**: Mac OS X 10.11.3
**Thrown From**: [SFTP-deployment](https://github.com/amoussard/sftp-deployment) package, v1.0.2

### Stack Trace

Uncaught TypeError: Cannot read property 'path' of undefined

[code]

### Commands

[code]

### Con

[2016-02-05 18:24] Leo-G opened #111 "It just says loading?"
I use notepad ++ and whenever I setup the project it just downloads the folder list n then downloads the file when I click on it, Can't your software do the same?

[2016-02-10 14:36] SeibelStan opened #112 "More opportunities to work with the remote host"
1. For example, to create a directory. Now when you try to upload a directory that does not exist writes on remote host "Loading" is not uploading anything.
2. Remove from server when deleted from a local.
3. Synchronization local with server
4. Synchronization server with local

[2016-02-10 14:40] SeibelStan opened #113 "Deny upload deployment-config to remote"

[2016-02-10 16:43] SeibelStan opened #114 "Autosave supports"

[2016-02-10 21:16] sidlathar opened #115 "sftp-deployment"
Still doesn't work :/

[2016-02-11 15:42] FNGR2911 commented on #61
+1

[2016-02-12 21:12] sebastienb opened #116 "add an ignore section to config to prevent uploading of specified files or folder"
It would be nice to be able to specify files like in a .gitignore to prevent uploading the deployment-config file and other files or folders.

[2016-02-17 13:30] JeromeDane commented on #80
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.5.3
**System**: Mac OS X 10.11.3
**Thrown From**: [SFTP-deployment](https://github.com/amoussard/sftp-deployment) package, v1.0.2

### Stack Trace

Uncaught TypeError: Cannot read property 'on' of undefined

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2016-02-18 12:24] olafurjt13 commented on #87
I'm having the same problem on OS X 10.11.3, atom 1.5.0 and sftp-development 1.0.2

[2016-02-20 09:08] nireic974 opened #117 "user attribut"
Hello,
Use username instead of user

[2016-02-22 03:56] kyleyochum commented on #76
Hey I got this working! I think... I'm no node js developer either but I took up where @notoriousno  left off and replaced the function in Connection.js at line 41 with the following:

` Connection.prototype.createDirectory = function(directoryPath) {
    var deferred = Promise.pending();

    try {
        exec(
            'mkdir ' + directoryPath,
            function (err) {
                if

[2016-02-24 02:48] Fabricio20 commented on #100
Can we get this fixed soon? This one is really important.

[2016-02-28 05:38] thjoyce commented on #87
Same problem, "An error occured (sic) during configuration file creation." Windows 7 Home Premium/SP1, 64 bit, sftp-deployment 1.0.2, Atom 1.5.3. First time user of both Atom and sftp-deployment. Suggestions?

[2016-03-06 18:28] martyristau commented on #106
Same here. It just says "Loading" endlessly

[2016-03-09 17:52] ducminhn commented on #43
+1
Really need this option. I don't want to download the whole node_modules directory for each new project. Really appreciate this!

[2016-03-13 22:20] DeSiden commented on #100
Idem here, we need a "_ignore_" option to prevent files and config upload, something like:

`ignore: [
    "deployment-config.json",
    ".git",
    "etc...",
  ]`

[2016-03-13 22:34] Hecsall opened #118 "Missing "ignore" option in config"
At the moment, in the deployment-config.json there is no option to ignore a specific file upload or a specific path upload. Uploading even the config file is a big problem because everyone can access the file obtaining the ftp password. Then, the possibility to ignore some file in the upload process would be very interesting and appreciated. Hope you can fix this as soon as possible, thanks. @amou

[2016-03-16 07:39] Yrp commented on #87
I'm having the same problem on windows 7 64bit

[2016-03-18 21:17] pleivac commented on #116
Totally agree! I have the same question [here](https://discuss.atom.io/t/sftp-deployment-how-to-setup-ignore-regexes-in-the-deployment-config-json/26785?u=pleivac).

[2016-03-21 10:44] jimzarkadas opened #119 "Doesn't upload on save"
I've activated the upload on save in settings but when I save a files it doesn't seem to work.

[2016-03-23 02:30] lucidlips opened #120 "cant download"
fails on any kind of download, local project path is fine, not too sure whats going on here.

[2016-03-23 02:32] lucidlips commented on #120
also all uploads are working fine

[2016-03-24 02:25] lucidlips commented on #76
Thank you so much Kyleochum! that same fix worked perfectly for me on mac.

file from terminal was located here:
`~/.atom/packages/SFTP-deployment/lib/connections/Connection.js`

[2016-03-24 22:10] robooo commented on #120
[code]

[2016-03-25 05:20] takakeiji commented on #120
Unfortunately the developer seems to be away from this project since the last update, i've send some corrections to avoid connection setup to be uploaded to remote (possible security risk) and no comments or review since then 4 months ago.

So, be patient or fork it =/

[2016-03-25 13:10] fraidoonk opened #121 "cannot install SFTP deployment on the new version of atom"
Installing “SFTP-deployment@1.0.2” failed.Hide output…

npm WARN deprecated MD5@1.3.0: deprecated, use lowercase 'md5@2.x' from now on
npm ERR! Windows_NT 6.2.9200
npm ERR! argv "C:\\Users\\Fraidoon\\AppData\\Local\\atom\\app-1.6.0\\resources\\app\\apm\\bin\\node.exe" "C:\\Users\\Fraidoon\\AppData\\Local\\atom\\app-1.6.0\\resources\\app\\apm\\node_modules\\npm\\bin\\npm-cli.js" "--globalconfig" "C

[2016-03-28 07:49] constant-null commented on #121
have the same problem here

[2016-03-28 07:52] lightinen commented on #121
the same. win10, x64

[2016-03-29 07:21] inu1255 commented on #121
the same. atom 1.6.0

[2016-03-30 00:05] thenexus00 commented on #121
We have found the same, No longer works on windows 10 since its last update. Same Atom version on windows 7 it actually works.

[2016-03-30 02:33] dibalaj commented on #121
Same problem on Windows 10, Atom 1.6.0. Does anyone have a solution for this?

[2016-03-30 09:48] sebwegscheider commented on #121
It's not only Windows, same problem on OS X, Atom 1.6.0.

[2016-03-30 16:20] igarciaes commented on #121
Ubuntu 14.04

Installing “SFTP-deployment@1.0.2” failed.
npm WARN deprecated MD5@1.3.0: deprecated, use lowercase 'md5@2.x' from now on
npm ERR! Linux 3.13.0-61-generic
npm ERR! argv "/usr/share/atom/resources/app/apm/bin/node" "/usr/share/atom/resources/app/apm/node_modules/npm/bin/npm-cli.js" "--globalconfig" "/home/igarcia/.atom/.apm/.apmrc" "--userconfig" "/home/igarcia/.atom/.apmrc" "install"

[2016-04-04 07:20] mkadi90 commented on #121
the same on Linux Mint 17.3

[2016-04-04 11:12] rodrigograca31 commented on #121
@mkadi90 I can confirm that!
It's not working on Linux Mint 17.3 (64bits), Atom 1.4.0:

[code]

[2016-04-05 09:07] mkadi90 commented on #121
Update to Atom 1.6.2 solve problem.

[2016-04-05 09:50] rodrigograca31 commented on #121
@mkadi90 I can also confirm that! :+1:

[2016-04-15 03:48] stugol opened #123 ""Loading""
Just pops up a message saying "loading" and does nothing else. I assume from the UTTER LACK OF UPDATES for the past 9 months that this project is totally dead. In which case, kindly remove it from the Atom plugins list and stop wasting everyone's fucking time. Thank you.

[2016-04-15 16:55] chwebo opened #124 "Auto-Reload browser"
Hello.

I really love this plugin, because it makes the development of a website a lot easier. But the plugin would be even better, if he could reload the browser automatically after having uploaded the files.

I hope, that that feature will be available soon.

[2016-04-23 21:12] margonaut commented on #52
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.7.1
**System**: Mac OS X 10.10.3
**Thrown From**: [SFTP-deployment](https://github.com/amoussard/sftp-deployment) package, v1.0.2

### Stack Trace

Uncaught TypeError: Cannot read property 'path' of undefined

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2016-04-29 23:20] AustP commented on #108
Along with this, because the CSS rule is so generic (looking for `.message`), it overwrites atoms built-in notifications. I added this

    atom-notification .message {
        background-color: inherit;
        color: inherit;
        margin: inherit;
    }

to my custom stylesheet (Edit > Stylesheet...) to stop the over-aggressive styling.

[2016-04-30 16:49] NoahRoseLedesma opened #125 "Path to local file is shown when access is denied on remote host"
When uploading a file to a remote host, if the remote user does not have sufficient privileges the error message displayed in atom will say

This is confusing as it leads the user to believe that the file permission error is on the local machine rather than the remote. Instead the error should say

[2016-05-01 13:48] amoussard commented on #124
Hi @chwebo,

This feature is not in my priority list, but if you want to submit a PR, I will be happy to merge it !

Sorry for that...

[2016-05-01 13:49] amoussard commented on #125
Hi @NoahRoseLedesma,

I understand your problem, I will try to fix it soon.

Thank you for using my package !

[2016-05-01 13:50] amoussard commented on #123
Hi @stugol,

Sorry for the delay, I was very busy last months so... Be patient, I will fix this in the next release.

Thank you for your feedback.

[2016-05-01 13:51] amoussard commented on #121
Hi all,

The problem is still there ?

Thank you for your feedback.

[2016-05-01 13:52] amoussard commented on #120
Hi all,

I will fix that in the next release.

Thank you for your feedback.

[2016-05-01 13:52] amoussard commented on #119
Hi @jimzarkadas,

I will fix that in the next release.

Can you send to me your OS and version of atom ?

Thank you for your feedback.

[2016-05-01 13:54] amoussard commented on #118
Hi @DeSiden,

It's effectively a nice feature.
I will try to add it in the next release.

Thank you for using my package.

[2016-05-01 13:56] amoussard commented on #117
Hi @nireic974,

You mean in the README ?
It was outdated, so I have merge a PR which fix it.

Thank you for using my package.

[2016-05-01 13:58] amoussard commented on #116
Hi @sebastienb @pleivac,

Like I said in this https://github.com/amoussard/sftp-deployment/issues/118, I will try to add this feature :)

Thank you for using my package.

[2016-05-01 14:00] amoussard commented on #115
Hi @sidlathar,

Can you be more specific in your problem ?

Thank you :)

[2016-05-01 14:00] amoussard commented on #114
Hi @SeibelStan,

Can you be more explicit for the new feature you want ?

Thank you for using my package.

[2016-05-01 14:01] amoussard commented on #113
Hi @SeibelStan,

Can you be more explicit for the new feature you want ?

Thank you to using my package.

[2016-05-01 14:23] rodrigograca31 commented on #121
Not with the latest atom version....

[2016-05-01 14:28] amoussard commented on #112
Hi @SeibelStan,

This is a good list of new features, I will think about implemented them.

Thank you for using my package.

[2016-05-01 14:30] amoussard commented on #111
Hi @Leo-G,

I will have to try what you say to tell you if I can do this easily.

Thank you for your feedback.

[2016-05-01 14:32] amoussard commented on #110
Hi @matthewaprice,

I don't understand what your are trying to do.
Can you make screenshot and be more explicit ?

Thank you for your feedback and using my package :)

[2016-05-01 14:35] amoussard commented on #108
Hi @vitaliyzolotoy @AustP,

Sorry for the inconvenient, I will fix this in the next release.

Thank you for your feedback.

[2016-05-01 14:36] amoussard commented on #109
Hi @vitaliyzolotoy,

You mean that the plugin upload the opened file to the server when you change of window ?

Thank you for using my package.

[2016-05-01 14:37] amoussard commented on #107
Hi @powerofgood,

You are not the only one who want it, so I will try to add it ASAP :)

Thank you for using my package.

[2016-05-01 14:39] amoussard commented on #106
Hi all,

Indeed, the loading message seems to do nothing, I will fix this in the next release.
There is another problem ?

Thank you for using my package.

[2016-05-01 14:40] amoussard commented on #105
Hi @dampergud1,

I will take a look and fix it in the next release.

Thank you for your feedback.

[2016-05-01 14:42] amoussard commented on #104
Hi @NomNes,

What is the problem exactly ?
You want to upload a file that is not in the project directory ?

Thank you for using my package.

[2016-05-01 14:43] amoussard commented on #103
Hi @panhezeng,

What is exactly the problem, I don't understand.

Thank you for using my package.

[2016-05-01 14:45] amoussard commented on #101
Hi @orkank @Sajonara,

Indeed, I didn't test it (I don't remember if there is this functionality when I developed it...).
I will fix it in the next release.

Thank you for your feedback !

[2016-05-01 14:46] amoussard commented on #100
Hi all,

I will add this in the next release, this is a feature which is asked by many users.

Thank you for your feedback.

[2016-05-01 14:48] amoussard commented on #98
Hi @simonjosefsson,

I will fix your path problem in the next release.
For the new feature, if it's easy, it will be too, else, be patient :)

Thank you for your feedback.

[2016-05-01 14:50] amoussard commented on #97
Hi @alexnuijten @daverogers,

This feature will be implemented in the next release.

Thank you for your feedback.

[2016-05-01 14:50] REJack commented on #113
Its a duplicate of #100

[2016-05-01 14:51] amoussard commented on #96
Hi @XEngine,

I will take a look and fix it in the next release.

Thank you for your feedback.

[2016-05-01 14:53] amoussard commented on #94
Hi @willotter,

I have merge your PR.
I will take a look to add this functionality where it's needed.

Thank your for your contribution :)

[2016-05-01 14:53] #94 closed

[2016-05-01 14:54] amoussard commented on #93
Hi @PawelGIX,

I don't understand your problem...
Can you explain it ?

Thank your for using my package.

[2016-05-01 14:54] amoussard commented on #90
Hi @ksb86 @tukhfatov,

I will take a look and fix it in the next release.

Thank you for using my package.

[2016-05-01 14:56] amoussard commented on #88
Hi @lightinen,

I will take a look, but it's an old post, maybe it's fixed since updates.

Thank you for your feedback.

[2016-05-01 14:57] amoussard commented on #87
Hi all,

I will fix it in the next release.

Thank you for your feedback !

[2016-05-01 14:58] amoussard commented on #86
Hi @adamsir,

The problem is still there since updates ?

Thank you for your feedback.

[2016-05-01 15:00] amoussard commented on #85
Hi @Amstramgram,

I prefer that the messages appear in status bar, but I didn't find how to do this so...
I will take a look to enhance that :)

Thank you for your help !

[2016-05-01 15:01] amoussard commented on #84
Hi @lparmentier-quatral,

I will take a look at this.

Thank you for your feedback.

[2016-05-01 15:03] amoussard commented on #83
Hi @sylistine,

It's an error in the documentation, I have merged a PR for this.

Thank you for your feedback.

[2016-05-01 15:03] #83 closed

[2016-05-01 15:04] amoussard commented on #82
Hi @duncanmapes,

I will take a look.

Thank you for using my package.

[2016-05-01 15:06] amoussard commented on #81
Hi @kaizhuQin @Qhuhuit ,

You can right-click on every files in your editor and send it with sftp/ftp command.

Tell me if you have other questions.

[2016-05-01 15:06] amoussard commented on #80
Hi all,

I will fix this in the next release.

Thank you for your feedback.

[2016-05-01 15:07] amoussard commented on #79
Hi @vitaly-zdanevich @BertLindeman,

I will add more informations about the file.

Thank you for your feedback !

[2016-05-01 15:08] amoussard commented on #78
Hi all,

The documentation was outdated.
You must use "username" in configuration file to make it work.

Thank your for using the package.

[2016-05-01 15:11] amoussard commented on #76
Hi all,

@kyleyochum thank you for the fix.

I will take a look at it and add it to the next release.

[2016-05-01 15:12] amoussard commented on #61
Hi all,

It's not on my top priorities list, but I keep it in mind.

Thank you for your feedback.

[2016-05-01 15:14] amoussard commented on #57
Hi all,

I will keep it in mind for the next releases.

Thank you for your feedback !

[2016-05-01 15:15] amoussard commented on #56
Hi @ErikAGriffin,

It's on my enhancement list, so take a look in the next weeks.

Thank you for your feedback !

[2016-05-01 15:16] amoussard commented on #43
Hi all,

It will be implemented in the next release !

Thank you all for your feedback !

[2016-05-01 15:17] amoussard commented on #121
Ok, thank you for the fast response @rodrigograca31 !

[2016-05-01 15:17] #121 closed

[2016-05-01 15:19] amoussard commented on #113
It's also a duplicate of #118 #116 #107 #97 .

[2016-05-01 15:20] amoussard commented on #100
Duplicate of #118 #116 #113 #107 #97

[2016-05-01 15:20] amoussard commented on #118
Duplicate of #116 #113 #107 #100 #97

[2016-05-01 15:21] amoussard commented on #116
Duplicate of #118 #113 #107 #100 #97

[2016-05-01 15:21] amoussard commented on #107
Duplicate of #118 #116 #113 #100 #97

[2016-05-01 15:22] amoussard commented on #97
Duplicate of #118 #116 #113 #107 #100

[2016-05-01 21:23] onetrev commented on #61
No worries. Thanks for the update! Just as an aside, for anyone else needing this and wanting to use FTP within Atom, this other package just added "watch" file support - https://github.com/mgrenier/remote-ftp

[2016-05-02 13:37] pleivac commented on #116
Thank you for your support @amoussard.

[2016-06-01 10:58] NomNes commented on #104
Hi. I don't want to upload file if it not in the project dirrectory. For example, i'm quick edit one file from local, but it opens in current project window

[2016-06-07 05:44] TheBrenny commented on #52
My guess is that there needs to be a check for whether or not the file exists on [this line][https://github.com/amoussard/sftp-deployment/blob/master/lib/DeploymentManager.js#L250]. Or somehow change the event listener so it's fired _after_ the file is saved.

[2016-06-08 08:13] 7underlines opened #128 "UploadOpenFiles and UploadCurrentFile no longer work"
Hi,
I'm on Atom 1.8.0 stable and SFTP-deployment 1.0.2. (Fedora 23 Linux)
Today I have updated to Atom 1.8.0 and since then the 2 upload options UploadOpenFiles and UploadCurrentFile no longer work.

UploadSelection is still working.

[2016-06-18 15:48] ghost commented on #108
The problem still persists. See the screenshot.
How to reproduce?
- Close all files in atom.
- Atom will now suggest keyboard shortcuts. CSS is overriding the `.message` class.
  ![screenshot from 2016-06-18 21 07 30](https://cloud.githubusercontent.com/assets/723253/16171910/0a70685c-3599-11e6-9808-59406b01476b.png)

Checked it in the Inspect Element and SFTP-Deployment's CSS was overriding the c

[2016-06-20 23:42] nicodmf opened #129 "create directory with download but no files"
Hello, thanks for this very usefull plugin.
I'm on windows. The plugin download directories but i don't have file in any of them.

 Have you an idea?

[2016-06-21 14:53] denniskuligin commented on #50
Duplicate of #118 #116 #113 #107 #100 #97

[2016-06-21 15:25] denniskuligin commented on #103
the problem is that deployment-config.json also deploying into server. That's terrible, really... We need something like SFTP has in sublime text 3 - ignore_regexes option. The option allows user to ignore some files / directories to be uploaded.

Please fix it asap

[2016-06-29 15:59] mangosing commented on #80
Has anyone found a solution for this problem? I have recently switched from Sublime to Atom and in setting this up with all the same info I got this error. If it helps I am connecting to wpengine.com and my coworker got it working on bluehost.com, thanks for all the help.

[2016-07-04 11:52] repat commented on #20
Does this mean that it's implemented or it's not coming in the next version? This is one of the few things that keeps me from using Atom instead of Sublime

[2016-07-06 09:47] chon27 commented on #80
I have got this error just after of install 'pigments' package (0.31.0). I just reset Atom and the error has cleared for me.

[2016-07-06 19:40] tutkun opened #130 "deployment-config.json file uploading on saved"
Hi, deployment-config.json file uploading on saved. But didn't it.

[2016-07-06 19:50] JaneX8 commented on #87
I have the same problem. Is this fixed already?

[2016-07-07 10:16] danjessen opened #131 "Compatibility with SFTP sublime plugin"
Hi

I know this might be a long shot. But I have a lot of projects (like 100+) that use http://wbond.net/sublime_packages/sftp/ ... so a compatibility mode for this plugin would be really great. I have a sftp-config.json file in all the folders.

[2016-07-11 06:15] #88 closed

[2016-07-16 22:56] lauyader commented on #121
El mismo problema en la versión 1.8 con ubuntu 16.04 64.bits

[2016-07-28 13:10] dstrauss2121 commented on #87
Hey I'm still experiencing the same problem, anyone figure out a solution?

[2016-08-01 11:32] TomCaserta commented on #116
Any update on this? Currently unusable when it uploads the file containing your information to the server itself.

[2016-08-06 22:15] rardoz commented on #80
Figured it out. If you go to ~/.atom/packages/SFTP-deployment/lib/connections/SftpConnections.js and replace linkes 54-79 with the following code all will work. The issue is its trying to create directories that already exists which causes a promise rejection. When you fix the bug just check to see if the directory exists first before calling the createRemoteDirectory function. The fix below is na

[2016-08-07 15:49] elmarti commented on #129
+1

[2016-08-07 15:53] elmarti commented on #129
I'm getting all directories and nested directories, but no files. I've had a look at the code, but can't see any logical errors.

[2016-08-18 06:02] lyenliang commented on #128
I got the same problem.

[2016-08-22 09:44] ojgarciab commented on #130
I agree, deployment-config.json MUST NOT be uploaded to remote server because security reasons (or allow empty password and ask for it in every session).

[2016-08-23 17:55] marcosmessias opened #132 "Add name of the ftp configuration file description"
I'm starting to use the atom. I tried to create the configuration file, but did not create, I do not know why, I could manually create it hand does not know the name.

[2016-08-30 14:14] qcol commented on #82
me too :(

[2016-09-07 21:00] guillobits commented on #130
UP, news about a fix ?

[2016-09-16 11:39] gschoppe opened #133 "Feature Request: Lastpass API"
For agencies with multiple client sftp accounts to manage, it would be great to be able to close the password gap with Atom, and allow loading the config, on the fly, from lastpass, without storing to disk.  That way, no one ends up with client passwords in their filesystem, in case of HR issues.

[2016-09-17 15:39] camilagss commented on #87
I was also experiencing the same issue running OSX, you have to create a Project Folder so the script will have somewhere to create the config file.

[2016-09-29 20:18] green17 commented on #131
Great idea! +1

[2016-10-20 15:39] xmoroccan commented on #132
im also facing this problem, when i click map to remote, i see a message tell that the configuration file was created successfully but i cant find it, at least we need to know the name of the file, we can creat it manually, with following instruction https://atom.io/packages/sftp-deployment

[2016-11-10 21:39] montrealks opened #135 "Doesn't load the folder structure"
I just started using this so maybe I am doing it wrong. My remote files load into Atom but the folder structure is missing. What are supposed to be folders are treated as files but when I try to open them I get the endless loading icon.

[2016-11-18 14:29] ramiromd opened #136 "Invalid username using key"
Hi all, i am trying to connect vía sftp to mi server. My configuration is:

[code]

But i get the next message: **Cannot established connection: invalid username.**
I did try from terminal **sftp merkaz@my.server.domain** and works fine.

Any ideas ?

[2016-11-22 22:08] veggigit opened #137 "Error Econnreset"
This is my problem, i am try save the proyect but show this msg "error connection: read Econnreset.
Any fix???

[2016-12-18 17:07] benyanke commented on #52
This issue also occurs for me, in projects that I am not using the plugin for. How should I debug?

[2017-01-27 09:05] iDentity1337 commented on #136
Change "user" to "username".

[2017-02-28 17:01] chronokz opened #138 "Please add functional for removing remote files"

[2017-03-19 19:02] NekoTony commented on #129
+1 Can we do something about this

[2017-03-26 09:47] tychio opened #139 "How can I use sudo"
I want sync to a folder which belongs to user 'root', but I have to login as another user. How can I sync files with sudo?

[2017-03-27 08:28] chon27 opened #140 "Allow differents connections in a config JSON file"
I could need to have some connections to sftp/ftp config file. It would be great stuff.

[2017-03-31 01:06] serumax opened #141 "insecure deployment-config.json"
Please, can you rename this file for a ".hidden_name"  and prevent upload by self to the server, be casue it is not secure. Now you can read from https://www.example.com/deployment-config.json

Thank.

[2017-04-13 03:29] harry61286 commented on #130
someone fix it?

[2017-04-13 03:30] harry61286 commented on #141
someone fix it? https://github.com/amoussard/sftp-deployment/issues/130

[2017-04-28 03:00] cytsunny opened #143 "The CSS of this plugin crash with atom default atom alert box CSS"
Some CSS of this plugin crash with the CSS of the default alert box. When this package installed, the alert box got a black background.

[2017-05-19 03:28] ekkasit-wongsaya opened #144 "right click a file in project tree and choose upload selection is not work"
right click file in project tree and choose  "upload selection" then loadding... status is show always but the selected file can't upload

[2017-05-22 14:11] firestar300 commented on #144
Same problem here. The current version seems to be deprecated according to Atom.

[code]

[2017-05-26 12:40] focussing opened #145 "Depreciation error in atom.io version 1.17.0"
Please fix this issue :)
`atom.workspace.paneContainer has always been private, but it is now gone. Please use atom.workspace.getCenter() instead and consult the workspace API docs for public methods.
Workspace.get - <embedded>:24619:18
FileManager.getCurrentFile - /Users/raymond/Dropbox/develop/atom/packages/SFTP-deployment/lib/filesystem/FileManager.js:31:49
atom-workspace.DeploymentManager.uplo

[2017-05-27 00:51] 1002nights commented on #141
Just discovered all my sites had this issue, please fix!

[2017-05-30 03:28] ekkasit-wongsaya commented on #144
Thank you.

[2017-06-01 11:00] pcoloma opened #146 "stuck with loading"
**** update ****
finally got it to work, the right click "file upload" does not work, but works by the top package navigation drop down list.
This could be fixed and even a shortcut created could be nice to upload the file ^SU save and upload?
*******

Hello, thanks for the plug-in.
I can't get it to work,
I have filled the ftp parameters and when I push the file on the remote site I get a loading

[2017-08-31 11:18] ManuelColombo commented on #144
The same happens to me
atom.workspace.paneContainer has always been private, but it is now gone. Please use atom.workspace.getCenter() instead and consult the workspace API docs for public methods.

[2017-08-31 16:05] danzen commented on #144
And me...

[2017-09-01 12:00] adrianvanlan opened #147 "Depreciation error in atom.io version 1.19.5 x64 (Windows)"
Deprecated calls
sftp-deployment (1 deprecation)
atom.workspace.paneContainer has always been private, but it is now gone. Please use atom.workspace.getCenter() instead and consult the workspace API docs for public methods.
Workspace.get - <embedded>:27881:18
FileManager.getCurrentFile - C:\Users\Adrian\.atom\packages\SFTP-deployment\lib\filesystem\FileManager.js:31:49
HTMLElement.DeploymentManage

[2017-09-24 16:34] christophgockel commented on #147
Unfortunately, according to the issues and PRs, this repo seems stale. Not sure what @amoussard thinks of it, but I've picked it up as a fork and merged one PR into it already.
In case you're interested, you can check it out here: https://github.com/christophgockel/atom-sftp-sync

I tried several SFTP syncing plugins and they all seemed outdated/non-maintained. Sftp-deployment had exactly the feat

[2017-10-25 08:17] barbuslex commented on #144
I have the same issue when i try to upload a folder manually in tree.
Here the trace  :
![image](https://user-images.githubusercontent.com/113057/31987942-b1d02fc0-b96d-11e7-9d5c-48f211c33dd2.png)

[2017-10-25 18:59] danzen commented on #144
This did work before - is this fixable?  I am going out to Filezilla everytime I need to upload an image - arg!  Thanks ;-)

[2017-11-16 17:45] adrianvanlan opened #149 "sftp-deployment (1 deprecation) atom.workspace.paneContainer"
sftp-deployment (1 deprecation)
     atom.workspace.paneContainer has always been private, but it is now gone. Please use atom.workspace.getCenter() instead and consult the workspace API docs for public methods.

Workspace.get - <embedded>:28210:18
FileManager.getCurrentFile - /home/user/.atom/packages/SFTP-deployment/lib/filesystem/FileManager.js:31:49
HTMLElement.DeploymentManager.uploadCurrentF

[2017-11-20 00:18] christophgockel commented on #149
This is a duplicate of #147 and I'm copying my response from there:

Unfortunately, according to the issues and PRs, this repo seems stale. Not sure what @amoussard thinks of it, but I've picked it up as a fork and merged one PR into it already.
In case you're interested, you can check it out here: https://github.com/christophgockel/atom-sftp-sync

I tried several SFTP syncing plugins and they all

[2017-11-20 17:51] leomp12 commented on #149
@christophgockel I tried your fork, but some features still not working in Atom 1.21+ (now I'm using 1.22), it was few weeks ago so I can't remember what was the problems, sorry about that.
I solved the problems (few weeks ago too) just editing the package files on my computer, so I don't published a new fork (laziness :p), but today I've maked a pull request, if you wan't to check:
https://github

[2017-11-20 20:41] christophgockel commented on #149
Thanks @leomp12! Can you elaborate on what features exactly don't work for you and for what type of connection (e.g. FTP or SFTP)?
I'm using Atom 1.22.1 just fine with `atom-sftp-sync` version 2.0.1. But to be honest the majority of fixes that went into my fork so far made sure that SFTP upload and download of files and directories is working correctly again.

[2018-04-11 06:51] ptc commented on #146
none of the steps mentioned above work for me. I, too, stuck on the loading icon.

[2018-05-21 09:41] ghost opened #151 "Uncaught TypeError: Path must be a string. Received undefined"
path.js:7
The error was thrown from the SFTP-deployment package. You can help by creating an issue. Please explain what actions triggered this error.
Create issue on the SFTP-deployment package

[2018-05-21 09:42] ghost commented on #151
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.27.0 x64
**Electron**: 1.7.11
**OS**: Ubuntu 18.04
**Thrown From**: [SFTP-deployment](https://github.com/amoussard/sftp-deployment) package 1.0.2

### Stack Trace

Uncaught TypeError: Path must be a string. Received undefined

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2018-06-07 10:21] meenakshitiwari26 opened #152 "not installing sftp deployment"
![screen shot 2018-06-07 at 3 50 20 pm](https://user-images.githubusercontent.com/35918831/41094052-89ccbc56-6a6a-11e8-8131-7e68fc4f2614.png)
Its showing installing from last two hr.

[2018-07-04 20:12] kirebyte opened #153 ".gitignore-ish file"
What do you think about adding some kind of .ignore file functionality so it doesn't uploads everything to the server?

[2018-07-10 16:59] Kazuto commented on #146
Go to your packages folder (Win: /users/USER/.atom/packages/SFTP-Deployment) and edit the file `sftp-deployment.cson` located in the menus folder.

Replace
[code]

with
[code]

Restart atom. Now you can upload files from the filetree's context menu.

*EDIT*
Apparently "Upload File" does only upload the currently open file in atom, not the one selected in the tree.

[2018-07-10 22:19] staticvoidzach commented on #121
I'm having the same issue on 1.28.1

[2018-07-19 10:08] eino commented on #93
Hi @amoussard , I'm not sure my problem is exactly the same, but it may so, according to the short description from Pawel. That is, uploaded files sometimes went to a wrong path.

Actually by writing the description here, I could track the source of the issue,  which is that I use a symbolic link locally ; for some reason the extension doesn't like it.

More precisely, I have a project that is in

[2018-11-13 12:34] helloromero commented on #123
+1

[2018-11-13 12:37] stugol commented on #123
Over two years later, and it's still broken. And it's STILL in the Atom plugins list. Twat.

[2018-11-13 16:24] helloromero commented on #123
@stugol You're a savage. Did you find a good alternative ?

[2018-11-15 16:43] stugol commented on #123
Sadly not. But having no solution is better than having a broken solution that wastes several hours of your time fighting with before discovering that the author has given up on the bloody thing and not had the COMMON GODDAMN DECENCY to take it down.

People like to say "you can't complain about something that is free". This is absurd. If a free thing wastes your time, hurts your productivity and

[2018-11-19 11:07] helloromero commented on #123
@stugol FYI - I found one that works perfect https://atom.io/packages/ftp-remote-edit

[2018-11-19 20:07] stugol commented on #123
Thank you, I will check it out.

[2019-02-21 09:01] D-SRF opened #155 "The "ftp" configuration is always loading when i save the changes"
SFTP-Deployment Version 1.0.2
Atom 1.34 Windows 64bits

[2019-02-25 14:10] mrspence opened #156 "Change default config filename"
Hey there,

I'm migrating to Atom from Sublime Text, where I was previously using https://wbond.net/sublime_packages/sftp.

Many of our projects have a similar configuration file called `sftp-config.json` in the project root.

Would it be possible to provide support to change the default filename sftp-deployment uses to load/store sftp configuration?

![image](https://user-images.githubusercontent

[2019-04-12 12:36] jambway commented on #52
k

[2019-05-11 12:02] ChristianFranke commented on #52
push!

[2020-02-12 23:04] hightowerc87 commented on #80
Nailed it, thank you very much for that find

[2021-01-06 21:34] sureshHARDIYA commented on #152
It installs for me but nothing happens.

[2021-06-16 20:52] #118 closed

[2021-10-01 18:58] rahu-tree opened #157 "Cannot parse privatekey: Unsupported key format"
Hi,

Under linux (gentoo), i have key id_rsa with parameters: lengh 3072bit and SHA256.
When i try upload file i got message:

Cannot estabilished connection: Cannot parse privatekey: Unsupported key format

Atom: 1.56.0
SFTP-deployment: 1.0.2